
:root {
    --kolor_podstawowy: #cccccc;
    --klawisz: 45px;
}
body{
    background-color: var(--kolor_podstawowy);
    margin: 0px;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
header
{
    padding: 10px 0 0 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    min-width: 200px;
}
div.kategoria header {
    padding: 5px;
}
.container 
{
    width: 100vw;
    margin-left: auto;
    margin-right:auto;
    box-sizing: border-box;
    height: 100vh;
    padding-bottom: 20px;
    min-width: 470px;
}
.okladka
{
    float: left;
    width: 30%;
    font-size: 20px;
    font-stretch: extra-expanded;
    letter-spacing: 2px;
    text-align: justify;
    box-sizing: border-box;
    min-width: 250px;
    padding: 0 0 0 15px;
}
.tytul {
    min-width: 300px;
}

.klawisze {
    padding-top: 40px;
}
.image {
    width: 20%px;
    
    float: left;
    min-width: 250px;
    padding: 10px 50px 0 50px;
    box-sizing: border-box;

}
.start {
    padding-top: 40px;
    height: 100px;
}

div.okladka_bottom
{
   padding: 20px 40px 0 40px;
   clear: both;
   text-align: center;
   font-size: 20px;
   font-weight: bold;
}

img {
    max-height: 80px;
    max-width: 80px;
}

ol {
    font-size: 15px;
    width: 100%;
    text-align: left;
    margin-left: auto;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    font-weight: bold;
}
.haslo
{
    width: 100%;
    font-size: 25px;
    text-align: center;
    font-family: 'PT Mono', monospace;
    padding: 5px 0 10px 0;
    margin: 15px 0 15px 0;
    min-width: 350px;
    box-sizing: border-box;
}
.lit_pudlo{
    width: var(--klawisz);
    height: var(--klawisz);
    font-size: 20px;
    text-align: center;
    float: left;
    color: green;
    padding: 6px;
    box-shadow: 5px 5px 10px black;
    background-color: red;
    cursor: default;
}
.lit_traf{
    width: var(--klawisz);
    height: var(--klawisz);
    font-size: 20px;
    text-align: center;
    float: left;
    color: white;
    padding: 6px;
    box-shadow: 5px 5px 10px black;
    background-color: green;
    cursor: default;
}
.kategoria
{
    float: left;
    width: 30%;
    font-size: 20px;
    align-content: center;
    min-width: 200px;
    padding: 0 0 0px 0;
    box-sizing: border-box;
  /*  height: 100%;*/
}
section.kategoria
{
    width: 100%;
    text-align: center;
}
.wyroznienie
{
    font-size: 15px;
    text-align: center;
}
#wyroznienie
{
    font-weight: bold;
    
}
.okladka_bottom a:hover
{
    color: white;
}

.litera_akt1
{
    width: var(--klawisz);
    height: var(--klawisz);
    font-size: 30px;
    text-align: center;
    float: left;
    color: green;
    padding: 6px;
    box-shadow: 5px 5px 10px black;
    cursor: default;
    background-color: #cccccc;
}
.litera_akt
{
    width: var(--klawisz);
    height: var(--klawisz);
    font-size: 20px;
    text-align: center;
    float: left;
    color: green;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
    background-color: #cccccc;
}
.litera_akt:hover
{
    cursor: pointer;
    background-color: yellow;
}
.litera
{
    width: 20%;
    min-height: 10px;
    font-size: 100%;
    text-align: center;
    float: left;
    margin: 2px;
    color: white;
    padding: 6px;
    box-shadow: 5px 5px 10px black;
}
.klawiatura
{
    min-width: 300px;
    display: inline-block;
    margin: auto;
    box-sizing: border-box;
    padding: 0 0 100px 0;
}
.obraz
{
    width: 20%;
    height: 100px;
    float: left;
    align-content: center;
    min-width: 85px;
    
}
.break
{
    clear: both;
}
.menu
{
    width: 240px;
    height: 30px;
    font-size: 22px;
    background-color: #cccccc;
    box-shadow: 5px 5px 10px black;
    text-align: left;
    padding: 0 0 0 40px;
    display: block;
}
.menu:hover
{
    cursor: pointer;
    background-color: #999999;
}
.form-wrap
{
    margin-left: 25%;
    width: 50%;
    
}

.tab-active
{
    width: 50%;
    float: left;
    text-align: center;
    font-size: 30px;
    background-color: lightgreen;
}
.tab
{
    width: 50%;
    float: left;
    text-align: center;
    font-size: 30px;
    background-color: green;
}
ul
{
    list-style-type: none;
}
h2{
    text-align: center;
    padding: 50px 0 0px 0;
   
}
#signup
{
    background-color: lightgreen;
    padding: 10px 0 20px 0;
    min-height: 240px;
}
#login
{
    background-color: green;
    padding: 10px 0 20px 0;
    min-height: 240px;
}
.field-wrap
{
   font-size: 15px;
   padding: 0 0 5px 145px;
}
label
{
    float: left;
    display: block;
    width: 200px;
    height: 25px;
    
}
p {
    font-size: 15px;
}


